* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.todo-app {
    max-width: 640px;
    margin: 0 auto;
    border: 4px solid #ccc;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 34px 20px 20px;
    border-bottom: 4px solid #ccc;
}
ul li {
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
}
li span:nth-child(2) {
    flex: 1;
    margin-left: 20px;
}
li span:last-child {
    font-size: 40px;
    cursor: pointer;
    transition: color .2s;
}
li span:last-child:hover {
    color: red;
}
.img-task {
    display: inline-block;
    width: 50px;
    height: 48px;
    background: url('../img/list.png') center no-repeat;
    background-position: 0 0;
    cursor: pointer;
}
.true .img-task {
    background-position: -50px 0;
}
.true span:nth-child(2) {
    text-decoration: line-through;
    color: #ccc;
}
input {
    border: none;
    border-bottom: 3px solid #ccc;
    height: 75px;
    width: 100%;
    padding-left: 20px;
    font-size: 26px;
    outline: none;
}
.filter-list {
    display: flex;
    justify-content: center;
}
.filter-list span {
    margin: 15px 20px;
    font-size: 26px;
    cursor: pointer;
    color: #797373;
}
.filter-list span:hover {
    color: #000;
}
.filter-list span.active {
    font-weight: 700;
    color: #000;
}